
/* 海报轮播图左右箭头样式 */
		#poster .carousel-control-prev,
		#poster .carousel-control-next{
			width:4%;
			height:16%;
			background:#0008;
			border-radius:25rem;
			top:42%;
		}
		/* 海报轮播图指示器样式 */
		#poster .carousel-indicators li{
			width:2rem;height:2rem;
			background-color:white;
			margin-left:3rem;
			margin-right:3rem;
			border-radius:50%;
		}
		#poster{margin-left:4%;}
		#poster .carousel-indicators .active{background-color:#000;}
		.card{background:#0002}
/* 新闻和资讯卡的样式 */
		.container .card{border-radius:3%;border:none;}
		.container .card>img{border-top-left-radius:3%;border-top-right-radius:3%;}
		/* 新闻特殊样式 */
		.snew>img{border-top-right-radius:0% !important;border-bottom-left-radius:3%;}
		/* 背景颜色 */
		.bg-brown{background:#675945 !important;}
		.bg-yellow{background:#e6bc2f !important;}
		.bg-redorange{background:#E3350D !important;}
		.bg-orange{background: #ee6b2f !important;}
		.bg-lightblue{background: #30a7d7 !important;}
		.bg-darkblue{background: #1847d7 !important;}
		.bg-gray{background:#a4a4a4 !important;}
		.bg-darkgray{background: #313131 !important;}
		.bg-green{background:#4dad5b !important;}
		.bg-pink{background:#ff90c4 !important;}
		/* 宽度85% */
		.w-85{width:85% !important}
		.w-92{width:92% !important}
		@keyframes small{
			0%{transform:scale(2);}
			100%{transform:scale(1);}
		}
		/* 资讯卡中心的小标题 */
		@media screen and (min-width:992px){
			.new{display:block;padding:1rem;text-align: center;
			/* 缩放动画 */
			animation:small 0.3s linear 1s;animation-fill-mode :both;
			/* 文本阴影 */
			text-shadow:2px 2px 2px gray;
			}
		}
		@media screen and (max-width:991px){
			.new{display: none}
		}
		/* 资讯卡弹性宽度 */
		@media screen and (min-width:768px){
			#new-card{width:78.5% !important;}
		}
		@media screen and (max-width:767px){
			#new-card{width:85% !important;}
		}
		/* 资讯卡的微调 */
		#new-card h4,#news h4{color:#fff;font:1.5rem 华文新魏;text-align:center;}
		#new-card span,#news span{color:#fff;font:1rem 华文细黑;text-align:center;}
		@media screen and (min-width:992px){#new-card div.card{height:20rem !important}}
		@media screen and (max-width:992px) and (min-width:768px){
			#new-card div.card{height:25rem !important}
			.ml-375{margin-left:0.375rem !important;}
			.mr-375{margin-right:0.375rem !important;}
			#new-card h4{margin-top:2rem}
			#new-card span{margin-top:0.8rem}
		}
		@media screen and (max-width:767px){
			#new-card div.card{height:32rem !important;}
			#new-card h4{font-size:2rem;margin-top:1rem}
			#new-card span{font-size:1.2rem;line-height:200%;margin-top:1rem}
			/* 新闻的特殊卡片微调 */
				#news .snew h4{
					font-size:3rem;
					margin:4rem 0 2rem 0;
				}
				#news .snew span{
					font-size:1.2rem;
				}

		}
/* 卡片的选中变亮过渡和位置过渡*/
.card{
	transition:all 0.5s !important;
}
div.card:hover{
	opacity:0.92;
	transform:translate(0px,-0.5rem);
}
		/* 资讯卡的多重阴影 */
		#new-card div.card{
			box-shadow: 1px 1px 1px  gray,
						2px 2px 1px  gray,
						3px 3px 1px  rgba(255,255,0,0.1),
						4px 4px 1px  rgba(255,255,0,0.1),
						5px 5px 1px  #0001,
						6px 6px 1px  #0001;
		}
/* 资讯卡的动画 */
		@keyframes left1{
			0%{transform: translate(0px,0px)}
			50%{transform: translate(-70px,-70px)}
			100%{transform: translate(-100px,-100px)}
		}
		@keyframes left2{
			0%{transform: translate(0px,0px)}
			50%{transform: translate(-70px,70px)}
			100%{transform: translate(-100px,100px)}
		}
		@keyframes mid1{
			0%{transform: translateY(0px)}
			50%{transform: translateY(-70px)}
			100%{transform: translateY(-100px)}
		}
		@keyframes mid2{
			0%{transform: translateY(0px)}
			50%{transform: translateY(70px)}
			100%{transform: translateY(100px)}
		}
		@keyframes right1{
			0%{transform: translate(0px,0px)}
			50%{transform: translate(70px,-70px)}
			100%{transform: translate(100px,-100px)}
		}
		@keyframes right2{
			0%{transform: translate(0px,0px)}
			50%{transform: translate(70px,70px)}
			100%{transform: translate(100px,100px)}
		}
		@media screen and (min-width:992px){
			#new-card div.card{
				animation:left1 0.3s linear 1s 1 reverse;
				animation-fill-mode :both;
			}
			#new-card #left2{animation-name: left2}
			#new-card #mid1{animation-name: mid1}
			#new-card #mid2{animation-name: mid2}
			#new-card #right1{animation-name: right1}
			#new-card #right2{animation-name: right2}
		}
/*背景*/
		body{
			background:url(../img/background/container_bg.png)
		}
		.container:not(:last-child){
			background:white;
		}